@import url(https://fonts.googleapis.com/css?family=News+Cycle:400);

@font-face {
font-family: OpenSansLight;
src: url(fonts/OpenSans-Light.ttf);
}
@font-face {
font-family: OpenSansRegular;
src: url(fonts/OpenSans-Regular.ttf);
}

.bg-container{
	background-image: url("image/3.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 100vh;
	}

/* @media (max-width: 767px){ */
/* .bg-container{ */
	/* height: 50vh; */
	/* } */
/* } */
.coming{
	position: absolute;
	font-family: OpenSansRegular;
	font-size: 20px;
	top:40%;
	left:37%;
	line-height: 2em;
	background: rgba(0, 0, 0, 0.4);
}
.white{
	color:#ffffff;
}

/* media Queries */
@media (min-width: 1450px){
.coming{
	left:45%;
}
}
@media (max-width: 1449px){
.coming{
	left:32%;
}
}
@media (max-width: 1024px){
.coming{
	left:24%;
}
}
@media (max-width: 992px){
.coming{
	left:20%;
}
}
@media (max-width: 715px){
.coming{
	left:13%;
}
}
@media (max-width: 650px){
.coming{
	left:11%;
}
}
@media (max-width: 600px){
.coming{
	left:5%;
}
}
@media (max-width: 550px){
.coming{
	left:3%;
}
}
@media (max-width: 533px){
.coming{
	left:1.5%;
}
}
@media (max-width: 450px){
.coming{
	left:0%;
}
}

/* Animations */
#imgs{
    position: relative; 
   width: 100%; /* for IE 6 */
   margin: 0 auto;
}
.content-msg {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
}
.content-msg a {
    color: black;
}
