<section class="col-xs-12">
  <div class="container  m-4">
    <h2 class="text-center">Login</h2>
<form class="text-center mt-4" (submit)="loginUser($event)">
<div class="input mt-2">
  <label class="text-right pr-4">Username: </label>
  <input type="text" class="col-md-3">
</div>
<div class="input mt-2">
  <label class="text-right pr-4">Password: </label>
  <input type="password" class="col-md-3">
</div>
<div class="input">
  <input class="btn btn-primary" type="submit" value="Login">
</div>
</form>
</div>
</section>