/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Lato", sans-serif;
    margin-bottom: 6%;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.bg-black {
    background-color: rgba(31, 138, 138, 1) !important;
}

#homecarousel .carousel-inner {
    height: 60vh;
    width: 100vw;
}

.carousel .carousel-item img {
    height: auto;
    width: 100vw;
}

.subhead {
    color: rgba(31, 138, 138, 1);
}

.sub_subhead {
    color: #e47070;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}

.bg-green {
    background-color: forestgreen;
}

.btn-primary,
.btn-primary:hover,
.btn-primary.disabled,
.btn-primary:disabled {
    background-color: rgba(31, 138, 138, 1);
    border-color: rgba(31, 138, 138, 1);
}

ul li {
    list-style: none;
}

.libr {
    border: 1px solid rgba(31, 138, 138, 1);
    padding: 5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(31, 138, 138, 1);
    color: #ffffff;
    padding: 15px;
}


/* dashboard */

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: #ffffff;
    background-color: #1f8a8a;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 18px;
    color: #64bcc5;
    display: block;
}

.sidenav a:hover,
.sidenav a:active,
.sidenav a.active {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    margin-top: 80px;
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

#adminnav {
    background-color: rgba(31, 138, 138, 1);
    /* margin-left: 160px; */
}

/* media queries */

@media screen and (max-height: 450px) {
    /* .sidenav {
        padding-top: 60px;
    } */
    .sidenav a {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    #homecarousel .carousel-inner {
        height: auto;
    }
}