<section class="col-xs-12 mt-4">
  <section class="container">
    <div class="row">
      <h2 class="subhead">Team:</h2>
    </div>
<ul>
  <li class="row mt-4 mr-4 libr" *ngFor="let team of teammumbers">
    <div class="col-md-3">
    <h3>{{team.name}}</h3>
    <img class="img-responsive" src="{{team.image}}" alt="" width="250" height="250"/>
    </div>
    <div class="col-md-9 mt-3 pt-3 pl-4">
    <h4>{{team.title}}</h4>
      <p>{{team.description}}</p>
    </div>
  </li>
</ul>
  </section>
</section>